@model Liverpool.Models.Extras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Extras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExtraName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExtraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
